#topBar {
    outline: solid 5px red;
}

#timer {
    float: right;
    text-align: right;
}

section {
    text-align: center;
    margin-top: 10%;
}

.intro {
    padding-bottom: 50px;
}

#startBtn {
    background-color: black;
    color: lightsteelblue;
}

#answerBtn {
    background-color: lime;
}

#submitBtn {
    background-color: blue;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}
