#intro {
    text-align: center;
    margin-top: 10%;
    padding-bottom: 50px;
}

#forQuestion {
    text-align: center;
    margin-top: 10%;
}

#startBtn {
    background-color: black;
    color: lightsteelblue;
}

#answerBtn {
    background-color: lime;
}